# SQLAlchemy Quick Start
### [SQLAlchemy — Python Tutorial](https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91)

In [12]:
!pip install sqlalchemy -U

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.40)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000281E651EE20>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sqlalchemy/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000281E6544190>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sqlalchemy/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000281E6544340>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sqlalchemy/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000281E65444F0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sqlalchemy/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000281E65446A0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sqlalchemy/

In [15]:
import sqlalchemy as db
import pandas as pd

In [1]:
# engine = db.create_engine('dialect+driver://user:pass@host:port/db')
engine = db.create_engine('sqlite:///dinner.sqlite', echo=True)
connection = engine.connect()
metadata = db.MetaData()
dinner = db.Table('dinner', metadata, autoload=True, autoload_with=engine)

NameError: name 'db' is not defined

In [8]:
# Print the column names
print(dinner.columns.keys())

NameError: name 'dinner' is not defined

In [5]:
# Print full table metadata
print(repr(metadata.tables['dinner']))

KeyError: 'dinner'

### 使用 code\SQLiteSpy.exe 驗證

## 查詢(Querying)

In [11]:
#Equivalent to 'SELECT * FROM census'
query = db.select([dinner]) 
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:3]

NameError: name 'dinner' is not defined

In [2]:
# SQL
sql = 'SELECT dinner.state, dinner.food, dinner.drink'
ResultSet = connection.execute(sql).fetchall()
ResultSet[:3]

NameError: name 'connection' is not defined

In [3]:
# convert to Data Frame
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()
df

NameError: name 'pd' is not defined

## pandas + SQLAlchemy

In [10]:
import pandas as pd
df = pd.read_sql_query(sql, connection)
df

2022-08-23 10:54:58,183 INFO sqlalchemy.engine.Engine SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008 FROM census LIMIT 3
2022-08-23 10:54:58,185 INFO sqlalchemy.engine.Engine [raw sql] ()

      state sex  age  pop2000  pop2008
0  Illinois   M    0    89600    95012
1  Illinois   M    1    88445    91829
2  Illinois   M    2    88729    89547

## Filtering data

In [11]:
query = db.select([census]).where(census.columns.sex == 'F')
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

2022-08-23 10:55:01,107 INFO sqlalchemy.engine.Engine SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census
WHERE census.sex = ?
2022-08-23 10:55:01,108 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('F',)

[('Illinois', 'F', 0, 85910, 90286),
 ('Illinois', 'F', 1, 84396, 88126),
 ('Illinois', 'F', 2, 84764, 86291),
 ('Illinois', 'F', 3, 85598, 85170),
 ('Illinois', 'F', 4, 87729, 86959)]

In [12]:
# SQL
sql = 'SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008 FROM census WHERE census.sex = ?'
ResultSet = connection.execute(sql, 'F').fetchall()
ResultSet[:3]

2022-08-23 10:55:03,374 INFO sqlalchemy.engine.Engine SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008 FROM census WHERE census.sex = ?
2022-08-23 10:55:03,375 INFO sqlalchemy.engine.Engine [raw sql] ('F',)

[('Illinois', 'F', 0, 85910, 90286),
 ('Illinois', 'F', 1, 84396, 88126),
 ('Illinois', 'F', 2, 84764, 86291)]

## in

In [34]:
# in
query = db.select([census.columns.state, census.columns.sex]).where(census.columns.state.in_(['Texas', 'New York']))
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

2022-08-13 19:48:52,683 INFO sqlalchemy.engine.Engine SELECT census.state, census.sex
FROM census
WHERE census.state IN (?, ?)
2022-08-13 19:48:52,684 INFO sqlalchemy.engine.Engine [generated in 0.00115s] ('Texas', 'New York')

[('New York', 'M'),
 ('New York', 'M'),
 ('New York', 'M'),
 ('New York', 'M'),
 ('New York', 'M')]

## and, or, not

In [35]:
# state == 'California' and sex != 'M'
query = db.select([census]).where(db.and_(census.columns.state == 'California', census.columns.sex != 'M'))
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

2022-08-13 19:50:29,739 INFO sqlalchemy.engine.Engine SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census
WHERE census.state = ? AND census.sex != ?
2022-08-13 19:50:29,740 INFO sqlalchemy.engine.Engine [generated in 0.00091s] ('California', 'M')

[('California', 'F', 0, 239605, 274356),
 ('California', 'F', 1, 236543, 269140),
 ('California', 'F', 2, 240010, 262556),
 ('California', 'F', 3, 245739, 259061),
 ('California', 'F', 4, 254522, 255544)]

## order by

In [39]:
# order by
query = db.select([census]).order_by(db.desc(census.columns.state), census.columns.pop2000)
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

2022-08-13 19:52:10,360 INFO sqlalchemy.engine.Engine SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census ORDER BY census.state DESC, census.pop2000
2022-08-13 19:52:10,361 INFO sqlalchemy.engine.Engine [cached since 42.94s ago] ()

[('Wyoming', 'M', 84, 490, 643),
 ('Wyoming', 'M', 83, 515, 726),
 ('Wyoming', 'M', 82, 634, 792),
 ('Wyoming', 'M', 81, 687, 845),
 ('Wyoming', 'F', 84, 801, 878)]

In [40]:
ResultSet[-5:]

[('Alabama', 'F', 41, 35500, 30240),
 ('Alabama', 'F', 42, 35663, 31693),
 ('Alabama', 'F', 40, 35758, 29999),
 ('Alabama', 'F', 43, 35821, 34069),
 ('Alabama', 'F', 85, 49764, 58979)]

## aggregation functions

In [42]:
# sum
query = db.select([db.func.sum(census.columns.pop2008)])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

2022-08-13 19:53:18,024 INFO sqlalchemy.engine.Engine SELECT sum(census.pop2008) AS sum_1
FROM census
2022-08-13 19:53:18,025 INFO sqlalchemy.engine.Engine [cached since 9.919s ago] ()

[(302876613,)]

## group by

In [43]:
# group by
query = db.select([db.func.sum(census.columns.pop2008).label('pop2008'), census.columns.sex]).group_by(census.columns.sex)
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

2022-08-13 19:54:05,928 INFO sqlalchemy.engine.Engine SELECT sum(census.pop2008) AS pop2008, census.sex
FROM census GROUP BY census.sex
2022-08-13 19:54:05,930 INFO sqlalchemy.engine.Engine [generated in 0.00149s] ()

[(153959198, 'F'), (148917415, 'M')]

## distinct

In [44]:
# distinct
query = db.select([census.columns.state.distinct()])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

2022-08-13 19:55:13,090 INFO sqlalchemy.engine.Engine SELECT DISTINCT census.state
FROM census
2022-08-13 19:55:13,091 INFO sqlalchemy.engine.Engine [generated in 0.00105s] ()

[('Illinois',),
 ('New Jersey',),
 ('District of Columbia',),
 ('North Dakota',),
 ('Florida',)]

## case & cast

In [46]:
# case：if census.columns.sex == 'F' then census.columns.pop2000 else 0
female_pop = db.func.sum(db.case([(census.columns.sex == 'F', census.columns.pop2000)],else_=0))
# cast to Float
total_pop = db.cast(db.func.sum(census.columns.pop2000), db.Float)
query = db.select([female_pop/total_pop * 100])
# scalar：case to constant
result  = connection.execute(query).scalar()
result

2022-08-13 19:58:29,635 INFO sqlalchemy.engine.Engine SELECT (sum(CASE WHEN (census.sex = ?) THEN census.pop2000 ELSE ? END) / CAST(sum(census.pop2000) AS FLOAT)) * ? AS anon_1
FROM census
2022-08-13 19:58:29,636 INFO sqlalchemy.engine.Engine [cached since 35.98s ago] ('F', 0, 100)

51.09467432293413

## join

In [60]:
# Automatic join, 如果有連結(foreign key)，會依連結合併，否則即交叉組合。
census = db.Table('census', metadata, autoload=True, autoload_with=engine)
state_fact = db.Table('state_fact', metadata, autoload=True, autoload_with=engine)
query = db.select([census.columns.pop2008, state_fact.columns.abbreviation])
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

2022-08-13 20:15:55,036 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("state_fact")
2022-08-13 20:15:55,036 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-13 20:15:55,038 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-08-13 20:15:55,038 INFO sqlalchemy.engine.Engine [raw sql] ('state_fact',)
2022-08-13 20:15:55,040 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("state_fact")
2022-08-13 20:15:55,040 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-13 20:15:55,041 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("state_fact")
2022-08-13 20:15:55,041 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-13 20:15:55,042 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-08-13 20:15:55,043 INFO sqlalchemy.engine.Engine [raw sql] ('state_fact',)
2022-08-13 20:15:55,044 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("state_fact")
2022-08-13 20:15:55,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-13 20:15:55,045 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("state_fact")
2022-08-13 20:15:55,046 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-13 20:15:55,047 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("state_fact")
2022-08-13 20:15:55,047 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-13 20:15:55,048 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("state_fact")
2022-08-13 20:15:55,049 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-13 20:15:55,049 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-08-13 20:15:55,050 INFO sqlalchemy.engine.Engine [raw sql] ('state_fact',)
2022-08-13 20:15:55,052 INFO sqlalchemy.engine.Engine SELECT census.pop2008, state_fact.abbreviation
FROM census, state_fact
2022-08-13 20:15:55,053 INFO sqlalchemy.engine.Engine [generated in 0.00047s] ()

C:\WINDOWS\TEMP/ipykernel_16756/3589180669.py:5: SAWarning: SELECT statement has a cartesian product between FROM element(s) "census" and FROM element "state_fact".  Apply join condition(s) between each element to resolve.
  results = connection.execute(query).fetchall()

   pop2008 abbreviation
0    95012           IL
1    95012           NJ
2    95012           ND
3    95012           OR
4    95012           DC

In [61]:
len(df)

447372

In [58]:
query = db.select([db.func.count(census.columns.pop2008)])
result  = connection.execute(query).scalar()
result

2022-08-13 20:14:08,937 INFO sqlalchemy.engine.Engine SELECT count(census.pop2008) AS count_1
FROM census
2022-08-13 20:14:08,938 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ()

8772

In [59]:
query = db.select([db.func.count(state_fact.columns.abbreviation)])
result  = connection.execute(query).scalar()
result

2022-08-13 20:14:58,859 INFO sqlalchemy.engine.Engine SELECT count(state_fact.abbreviation) AS count_1
FROM state_fact
2022-08-13 20:14:58,860 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ()

51

## Manual Join

In [63]:
# Manual Join
query = db.select([census, state_fact])
query = query.select_from(census.join(state_fact, census.columns.state == state_fact.columns.name))
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

2022-08-13 20:19:35,269 INFO sqlalchemy.engine.Engine SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008, state_fact.id, state_fact.name, state_fact.abbreviation, state_fact.country, state_fact.type, state_fact.sort, state_fact.status, state_fact.occupied, state_fact.notes, state_fact.fips_state, state_fact.assoc_press, state_fact.standard_federal_region, state_fact.census_region, state_fact.census_region_name, state_fact.census_division, state_fact.census_division_name, state_fact.circuit_court
FROM census JOIN state_fact ON census.state = state_fact.name
2022-08-13 20:19:35,270 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ()

,state,sex,age,pop2000,pop2008,id,name,abbreviation,country,type,...,occupied,notes,fips_state,assoc_press,standard_federal_region,census_region,census_region_name,census_division,census_division_name,circuit_court
0,Illinois,M,0,89600,95012,13,Illinois,IL,USA,state,...,occupied,,17,Ill.,V,2,Midwest,3,East North Central,7
1,Illinois,M,1,88445,91829,13,Illinois,IL,USA,state,...,occupied,,17,Ill.,V,2,Midwest,3,East North Central,7
2,Illinois,M,2,88729,89547,13,Illinois,IL,USA,state,...,occupied,,17,Ill.,V,2,Midwest,3,East North Central,7
3,Illinois,M,3,88868,90037,13,Illinois,IL,USA,state,...,occupied,,17,Ill.,V,2,Midwest,3,East North Central,7
4,Illinois,M,4,91947,91111,13,Illinois,IL,USA,state,...,occupied,,17,Ill.,V,2,Midwest,3,East North Central,7

In [64]:
len(df)

8600

## Creating Database and Table

In [4]:
import sqlalchemy as db
import pandas as pd

engine = db.create_engine('sqlite:///test.sqlite') #Create test.sqlite automatically
connection = engine.connect()
metadata = db.MetaData()

dinner_choice = db.Table('dinner_choice', metadata,
              db.Column('food', db.String(255), nullable=False),
              db.Column('drink', db.String(255), nullable=False),
              db.Column('ice', db.Integer()),
              db.Column('sugar', db.Integer())
              )

metadata_all(engine) #Creates the table

NameError: name 'metadata_all' is not defined

## Insert record

In [79]:
#Inserting record one by one
query = db.insert(emp).values(Id=1, name='naveen', salary=60000.00, active=True) 
ResultProxy = connection.execute(query)

In [80]:
# query
query = db.select([emp])
ResultSet = connection.execute(query).fetchall()
ResultSet

[(1, 'naveen', 60000.0, True)]

In [81]:
#Inserting many records at ones
query = db.insert(emp) 
values_list = [{'Id':'2', 'name':'ram', 'salary':80000, 'active':False},
               {'Id':'3', 'name':'ramesh', 'salary':70000, 'active':True}]
ResultProxy = connection.execute(query,values_list)

In [82]:
# query
query = db.select([emp])
ResultSet = connection.execute(query).fetchall()
ResultSet

[(1, 'naveen', 60000.0, True),
 (2, 'ram', 80000.0, False),
 (3, 'ramesh', 70000.0, True)]

## Update record

In [83]:
# Build a statement to update the salary to 100000
query = db.update(emp).values(salary = 100000).where(emp.columns.Id == 1)
results = connection.execute(query)

In [84]:
# query
query = db.select([emp])
ResultSet = connection.execute(query).fetchall()
ResultSet

[(1, 'naveen', 100000.0, True),
 (2, 'ram', 80000.0, False),
 (3, 'ramesh', 70000.0, True)]

## Delete record

In [85]:
# Build a statement to delete where salary < 100000
query = db.delete(emp).where(emp.columns.salary < 100000)
results = connection.execute(query)

In [86]:
# query
query = db.select([emp])
ResultSet = connection.execute(query).fetchall()
ResultSet

[(1, 'naveen', 100000.0, True)]

## Drop Table

In [87]:
#drops a single table
emp.drop(engine)

In [91]:
# query
try:
    query = db.select([emp])
    ResultSet = connection.execute(query).fetchall()
    print(ResultSet)
except Exception as e:
    print(e)

(sqlite3.OperationalError) no such table: emp
[SQL: SELECT emp."Id", emp.name, emp.salary, emp.active
FROM emp]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [88]:
#drops all the tables in the database
metadata.drop_all(engine)

# 交易：多表更新
### [SQLAlchemy ORM Quick Start](https://docs.sqlalchemy.org/en/14/orm/quickstart.html)

In [1]:
from sqlalchemy import Column
from sqlalchemy import ForeignKey
from sqlalchemy import Integer
from sqlalchemy import String
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship

In [179]:
Base = declarative_base()

class User(Base):
    __tablename__ = "user_account"
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    addresses = relationship(
        "Address", back_populates="user", cascade="all, delete-orphan"
    )
    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    # 連結 User
    user_id = Column(Integer, ForeignKey("user_account.id"), nullable=False)
    # 反向存取
    user = relationship("User", back_populates="addresses")
    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [180]:
# connect db
from sqlalchemy import create_engine
engine = create_engine("sqlite:///user.db", echo=False, future=True)
# 同步 db
Base.metadata.create_all(engine)

## 使用 Session 建立交易

In [181]:
# Create Objects and Persist
from sqlalchemy.orm import Session

with Session(engine) as session:
    spongebob = User(
        name="spongebob",
        fullname="Spongebob Squarepants",
        addresses=[Address(email_address="spongebob@sqlalchemy.org")],
    )
    sandy = User(
        name="sandy",
        fullname="Sandy Cheeks",
        addresses=[
            Address(email_address="sandy@sqlalchemy.org"),
            Address(email_address="sandy@squirrelpower.org"),
        ],
    )
    patrick = User(name="patrick", fullname="Patrick Star")
    session.add_all([spongebob, sandy, patrick])
    session.commit() # 寫入DB

OperationalError: (sqlite3.OperationalError) database is locked
[SQL: INSERT INTO user_account (name, fullname) VALUES (?, ?)]
[parameters: ('spongebob', 'Spongebob Squarepants')]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# query
from sqlalchemy import select

session = Session(engine)
stmt = select(User).where(User.name.in_(["spongebob", "sandy"]))
for user in session.scalars(stmt):
    print(user)

In [ ]:
# join
stmt = (
 select(Address)
 .join(Address.user)
 .where(User.name == "sandy")
 .where(Address.email_address == "sandy@sqlalchemy.org")
)
sandy_address = session.scalars(stmt).one()
sandy_address

In [ ]:
# Update
# query user
stmt = select(User).where(User.name == "patrick")
patrick = session.scalars(stmt).one()

# add adress
patrick.addresses.append(
    Address(email_address="patrickstar@sqlalchemy.org")
)

# update adress
sandy_address.email_address = "sandy_cheeks@sqlalchemy.org"
session.commit()

In [ ]:
# delete
sandy = session.get(User, 2)
print(sandy_address)
sandy.addresses.remove(sandy_address)
session.commit()

In [ ]:
# query
from sqlalchemy import select

session = Session(engine)
stmt = select(User)
for user in session.scalars(stmt):
    print(user)
    print(user.addresses)

In [ ]:
session.close()
engine.dispose()